body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	color: #666666;
}


h1, h3, h4 {
	margin: 0;
	color: white;
}

#title {
	color: #6c6c6c;
}

#name {
	color: #ECCAC9;
	font-weight: 700;
}

p {
	line-height: 180%;
}

.container {
	margin: auto;
	text-align: center;
}

#profile {
	width: 40%;
	height: auto;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
	background: url(../img/overlay.png);
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
	padding: 20px;
}

#logo h1 {
	padding: 0.20em 0.9em;
	font-size: 3.5em;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
	height: 50px;
}

#menu ul {
	padding: 0em 2em;
}

#menu li {
	display: inline-block;
}

#menu li a {
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
	color: #3e3e3e;
}

#menu li:hover a, #menu li.active a {
	background: #FFF;
	color: #ECCAC9;
}


/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

.wrapper {
	background-color: #FFF;
}


/*********************************************************************************/
/* Homepage                                                                      */
/*********************************************************************************/

#homepage {
	width: 1000px;
	padding: 20px;
}

/*********************************************************************************/
/* Resume                                                                        */
/*********************************************************************************/

#resume {
	padding: 40px;
}

.google, .yahoo {
	width: 20%;
	height: auto;
}